<template name="spEventPage">

    {{#contentFor "cover"}}
        {{#showcase coverClass="event-cover"}}
            <div class="showcase-content container">
                <h2 class="title category">{{name}}</h2>
                {{> showcaseSpacerTitle}}
            </div>
        {{/showcase}}
    {{/contentFor}}

    {{#contentFor "bottom"}}
        <div class="clearfix"></div>
    {{/contentFor}}


    <section class="project-info">
        <article>
            {{#markdown}}{{text}}{{/markdown}}
        </article>
    </section>


    {{#contentFor "sidebar"}}
        {{> spEventSidebar}}
    {{/contentFor}}

    {{#contentFor "adminPanel"}}
        <section class="admin-section">
            <a class="btn btn-default" href="/event-update/{{slug}}">Edit</a>
            <a class="btn btn-default" href="/events/{{slug}}/report">Report</a>
        </section>
    {{/contentFor}}
</template>

<template name="spEventSidebar">
    <div class="h1-margin">
        <article>
            {{#markdown}}{{additionalText}}{{/markdown}}
        </article>
        <h3>Registration</h3>
        {{#if closed}}
            <div>
                Sorry, but this event is closed and you can't register for it.
            </div>
        {{else}}
            {{#if currentUser}}
                {{#if alreadyRegistered}}
                    <div>
                        Thank you for registering as <i>{{registeredRole}}</i>. We'll get back to you soon and notify
                        you if
                        you get selected.
                    </div>
                {{else}}
                    {{#autoForm collection="SpEventRegistrations"
                    id="eventRegistrationForm" type="method" meteormethod="registerToEvent"}}
                        {{> afQuickField name="eventId" value=_id}}
                        {{> afQuickField name="role" label="For us to build awesome teams tell us who you are:"}}
                        {{> afQuickField name="interest" label="What is your space interest?"}}
                        {{> afQuickField name="knowEnglish" label="Do you know English?"}}
                        {{> afQuickField name="phone"}}
                        {{> afQuickField name="placeWorkStudy"}}
                        {{> afQuickField name="additional" label="Why do you want to participate? Do you have an idea/project (250 symbols max)"}}

                        <div>
                            <button type="submit" id="bRegister" class="btn btn-success btn-width">Register</button>
                        </div>
                    {{/autoForm}}

                {{/if}}
            {{else}}
                <a href="/login?next={{currentRoute}}">Sign in/Sign up</a> if you want to register for the event
            {{/if}}
        {{/if}}
        <section class="spEvent__sidebar__share">
            <h3>Invite your friends</h3>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//spacer.im/events/{{slug}}">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-square-o fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x"></i>
                </span></a>
            <a href="https://twitter.com/home?status=Join%20space%20fans%20at%20the%20%23SpacerHackathon%20to%20hack%20and%20learn%20about%20new%20space%20opportunities%20http%3A//spacer.im/events/{{slug}}">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-square-o fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x"></i>
                </span></a>
            <a href="https://plus.google.com/share?url=http%3A//spacer.im/events/{{slug}}">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-square-o fa-stack-2x"></i>
                  <i class="fa fa-google-plus fa-stack-1x"></i>
                </span></a>
            <a href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A//spacer.im/events/{{slug}}&title=Spacer%20Hackaton&summary=Join%20me%20at%20the%20%23SpacerHackathon.%20Space%20enthusiasts%20get%20together%20to%20hack%20and%20learn%20from%20the%20industry%20leaders%20http%3A//spacer.im/events/spacer-hackathon&source=http%3A//spacer.im">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-square-o fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x"></i>
                </span></a>
        </section>

    </div>
</template>