<template name="companiesCover">
    {{#showcase}}
        <div class="showcase-content container">
            <p class="showcase-title">Space Industry Companies</p>
        </div>
    {{/showcase}}
</template>


<template name="companiesSidebar">
    <h5>Filter</h5>
    <p>
        Here will be some fiters. later.
    </p>
</template>


<template name="companiesContent">
    <div class="company-list">
        {{>itemList itemTemplate='companyItem' collection="companies" subscription="companies" moreWriting="More Companies"}}
    </div>
</template>