<template name="companiesCover">
    {{#showcase coverClass="company-cover"}}
        <div class="showcase-content container">
            <h2 class="title category">Companies</h2>
            <h1 class="site-name">SPACER</h1>
        </div>
    {{/showcase}}
</template>


<template name="companiesSidebar">
    <h5>Filter</h5>
    <p>
        Here will be some fiters. later.
    </p>
</template>


<template name="companiesContent">
    <div class="company-list">
        {{>itemList itemTemplate='companyItem' collection="companies" subscription="companies" moreWriting="More Companies"}}
    </div>
</template>