<template name="companyItem">
    <li>
        <a href="/companies/{{slug}}">
            <div class="thumb">
                <img class="img-responsive" src="{{imageURL}}">
            </div>
        </a>
        <a class="job-button white-link-button" href="/companies/jobs/{{_id}}">View Jobs</a>

        <div class="clearfix-xs"></div>
        <a href="/companies/{{slug}}">
            <div class="info">
                <h3 class="name">{{name}}</h3>

                <div class="rating">
                    {{#if gdRating}}
                        {{>filledStars value=gdRating}}
                    {{/if}}
                </div>
                <p>{{short}}</p>
            </div>
        </a>

        <div class="clearfix"></div>
    </li>
</template>