<template name="login">
    <div id="login-screen" class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        {{> loginButtons}}
        <div class="terms-agree">
            {{#if isSignUp}}
                By clicking “Create” I agree to the Spacer <a href="/terms">Terms of Service</a>.
                Read our <a href="/privacy/">Privacy Policy</a>.
            {{/if}}
        </div>
    </div>
</template>


<template name="_loginButtonsAdditionalLoggedInDropdownActions">
    <button class="btn btn-default btn-block" id="login-buttons-profile">Profile</button>
    <button class="btn btn-default btn-block" id="login-buttons-settings">Settings</button>
    {{#if isAdmin}}
        <button class="btn btn-default btn-block" id="login-buttons-admin">Admin Panel</button>
        <a href="/article-add/" class="btn btn-default btn-block" id="login-buttons-add-article">Add Article</a>
        <button class="btn btn-default btn-block" id="login-buttons-add-company">Add Company</button>
        <button class="btn btn-default btn-block" id="login-buttons-add-job">Add Job</button>
        <button class="btn btn-default btn-block" id="login-buttons-add-project">Add Project</button>
        <a href="/event-add/" class="btn btn-default btn-block" id="login-buttons-add-event">Add Event</a>

    {{/if}}
</template>