<template name="login">
    <div id="login-screen" class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        {{> loginButtons}}
    </div>
</template>


<template name="_loginButtonsAdditionalLoggedInDropdownActions">
    <button class="btn btn-default btn-block" id="login-buttons-profile">Profile</button>
    <button class="btn btn-default btn-block" id="login-buttons-settings">Settings</button>
    {{#if isAdmin}}
        <button class="btn btn-default btn-block" id="login-buttons-admin">Admin Panel</button>
        <button class="btn btn-default btn-block" id="login-buttons-add-news">Add News</button>
        <button class="btn btn-default btn-block" id="login-buttons-add-company">Add Company</button>
        <button class="btn btn-default btn-block" id="login-buttons-add-job">Add Job</button>

    {{/if}}
</template>