<template name="footer">
    <nav class="footer navbar-default">
        <div class="container">
            <ul class="nav navbar-nav links">
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/terms">Terms</a></li>
                <li><a href="/privacy">Privacy Policy</a></li>
            </ul>
            <ul class="nav navbar-nav icons">
                <li><a href="https://www.facebook.com/Spacer-1645313999073499/"><i
                        class="fa fa-facebook-square"></i></a></li>
                <li><a href="https://twitter.com/spacer_im"><i class="fa fa-twitter-square"></i> </a></li>
                <li><a href="https://www.linkedin.com/company/10276791"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>

        </div>
    </nav>
</template>