<template name="itemList">
    <div class="list-content">
        {{#if listTitle}}
            <h4>{{listTitle}}</h4>
        {{/if}}
        <ul class="item-list {{#if listClass}}{{listClass}}{{/if}}">
            {{#if isEmpty items}}
                {{#each items}}
                    {{> UI.dynamic template=../itemTemplate}}
                {{/each}}
            {{else}}
                {{#if emptyPhrase}}
                    <p class="empty-phrase">{{emptyPhrase}}</p>
                {{else}}
                    Sorry, your search didn't return any results
                {{/if}}
            {{/if}}
        </ul>
    </div>
    <div class="more-container">
        {{#if listIsReady}}
            {{#if moreItems}}
                <button class="btn btn-default" id="b-more">{{moreWriting}}</button>
            {{/if}}
        {{else}}
            <div class="spinner-container">
                {{>spinner}}
            </div>
        {{/if}}
    </div>
</template>