<template name="showcase">
    <div class="page-header container" id="key-brand">
        <div class="col-md-10 col-lg-9 col-sm-12">
            <div class="header-logo">
                <img src="/icons/logo-cut.png" id="logo"/>
            </div>
            <div id="header-title">
                <span>{{pageTitle}}</span>
            </div>
            <div class="clearfix"></div>
            <div id="header-phrase">
                <span>{{pagePhrase}}</span>
            </div>
        </div>

    </div>
</template>