<template name="projectItem">
    <li>
        <a href="/projects/{{slug}}">
            <div class="item projects__list__item">
                <div class="item-image grow center-cropped" style="background-image: url('{{thumbURL}}')">
                </div>

                <div class="info item-body">
                    <h4 class="name">{{name}}</h4>

                    <p>{{short}}</p>

                    <div class="keyword-block">
                        {{#each keywords}}
                            <div class="keyword">{{this}}</div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </a>

    </li>
</template>
