@import "../lib/variables";

.article {
  &__list {
    padding-right: 15px;
    @media screen and (min-width: $break-xs) {
      border-right: 1px solid black;
    }
    &__title {
      margin-top: 5px;
    }
    &__item {
    }
    &__search {
      position: relative;
      .fa-search {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
      }
      input {
        padding-left: 30px;
      }
    }
  }
  &__content {
    font-size: 16px;
    img {
      max-width: 100%;
    }
    &__image {
      margin: 5px auto 10px;
    }
  }
  &__cover {
    border: 10px solid black;
    .image-layer-low {
      background-image: url("/assets/covers/blue_low.jpg") !important;
    }
    .image-layer-normal {
      background-image: url("/assets/covers/blue.jpg") !important;;
    }
    .color-layer {
      background-color: $color-cover-blue !important;;
    }
  }


}