<template name="articleItem">
    <li>
        <a href="/articles/{{slug}}">
            <div class="item article__list__item">
                <div class="item-image grow center-cropped" style="background-image: url('{{thumbURL}}')">
                </div>

                <div class="item-body">
                    <h4>{{title}}</h4>

                    <p class="article__list__item__short">
                        {{short}}
                    </p>
                </div>
            </div>
        </a>
    </li>
</template>
