<template name="articlePage">
    <article class="article__content">
        <h1>{{title}}</h1>

        <img class="img-responsive" src="{{imageURL}}"/>
        {{#markdown}}{{text}}{{/markdown}}
        {{> tagsList}}
    </article>


    {{#contentFor "cover"}}
        {{#showcase coverClass="article__cover"}}
            <div class="showcase-content container">
                <h2 class="title category">Spacer Picks</h2>
                {{> showcaseSpacerTitle}}
            </div>
        {{/showcase}}
    {{/contentFor}}

    {{#contentFor "adminPanel"}}
        <section class="admin-section">
            <a class="btn btn-default" href="/article-update/{{slug}}">Edit</a>
        </section>
    {{/contentFor}}
</template>