@import "{}/client/views/lib/_variables";

.home-sidebar {
  @media screen and (max-width: $break-xs) {
    margin-top: 30px;
  }
  @media screen and (min-width: $break-xs) {
    padding-left: 10px;
  }

  &__list {
    list-style-type: none;
    padding-left: 20px;
    li {
      &:first-of-type {
        margin-top: 5px;
      }
      margin: 12px 0;
      word-wrap: break-word;
    }
    &__loading {
      position: relative;
      min-height: 100px;
    }
  }
}

.home {
  &__showcase {
    .showcase {
      min-height: 300px !important;
      @media screen and (max-width: $break-xs) {
        min-height: 400px !important;
      }
    }
    .showcase-content {
      align-items: flex-start !important;
    }
    .background-showcase {
      .image-layer {
        background-position: 0 93% !important;
      }
    }
    &__title {
      h1 {
        font-family: $fontMonoton;
        font-size: 60px;
      }
      text-align: left;
      flex-grow: 1;
      @media screen and (max-width: $break-xs) {
        text-align: center;
      }
    }
    &__explain {
      text-align: right;
      @media screen and (max-width: $break-xs) {
        text-align: center;
      }
      flex-grow: 1;
      h2 {
        font-size: 26px;

      }
      a {
        color: white;
        text-decoration: underline;
      }
    }
  }
}