@import "{}/client/views/lib/_variables";

.home-sidebar {
  @media screen and (max-width: $break-xs) {
    margin-top: 30px;
  }
  @media screen and (min-width: $break-xs) {
    padding-left: 30px;
  }

  &__list {
    list-style-type: disc;
    li {
      margin: 10px 0;
    }
    &__loading {
      position: relative;
      min-height: 100px;
    }
  }
}