<template name="homeCover">
    {{#showcase coverClass="home-cover"}}
        <div class="showcase-content container">
            <h2 class="title">{{phrase "keyPhrase"}}</h2>
            <h1 class="site-name">SPACER</h1>
        </div>
    {{/showcase}}
</template>


<template name="homeSidebar">
    <h4>Latest jobs:</h4>
    <ul class="jobs">
        {{#if jobsAreReady}}

            {{#each jobs}}
                <li><a href="/jobs/{{slug}}">{{title}}/{{companyName}}</a></li>
            {{/each}}

        {{else}}
            {{>spinner}}
        {{/if}}
    </ul>
</template>