/* CSS declarations go here */
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Audiowide);

$fontUbuntu: 'Ubuntu', sans-serif;
$fontAudiowide: 'Audiowide', cursive;

$break-xs: 768px;
$break-xs-narrow: 500px;