/* CSS declarations go here */
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300);

$fontUbuntu: 'Ubuntu', sans-serif;
$fontAudiowide: 'Audiowide', cursive;

$break-xs: 767px;
$break-sm: 991px;
$break-xs-narrow: 500px;