@import "values";
@import "colors";

body * {
  font-family: $fontUbuntu;
}

.clearfix {
  clear: both;
}


.clearfix-xs {
  @media screen and (max-width: $break-xs) {
    clear: both;
  }
}



.grey-hover:hover {
  img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  h3 {
    text-decoration: none !important;
    color: grey;
  }
}

a.grey-hover:-webkit-any-link {
  text-decoration: none !important;
}

.mobile-inline {
  @media (max-width: $break-xs) {
    display: table;
    padding: 10px;
    margin-bottom: 10px;
    * {
    }
    img {
      float: left;
      width: 33%;
      margin-right: 5%;
    }
  }

}

.post-thumb {
  margin-bottom: 20px;
  h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 10px;
  }
}

.vertical-align-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clearfix-after:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.more-container {
  text-align: center;
  position: relative;
  min-height: 100px;

  button {
    width: 200px;
  }
}

.white-link-button {
  display: block;
  color: black;
  border: 2px solid black;
  box-sizing: border-box;
  padding: 5px 15px;
  border-radius: 5px;
  text-align: center;
}

.admin-section {
  border: 1px solid $color-grey-1;
  margin: 10px 0;
  padding: 40px 10px 10px;
  position: relative;
  background-color: $color-light-grey;
  &::before {
    content: "Admin section";
    position: absolute;
    top: 10px;
  }
}