@import "values";
@import "colors";

body * {
  font-family: $fontUbuntu;

}

body {
  font-size: 16px;
}

h4 {
  font-size: 20px !important;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}


.clearfix {
  clear: both;
}


.clearfix-xs {
  @media screen and (max-width: $break-xs) {
    clear: both;
  }
}



.grey-hover:hover {
  img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  h3 {
    text-decoration: none !important;
    color: grey;
  }
}

a.grey-hover:-webkit-any-link {
  text-decoration: none !important;
}

.mobile-inline {
  @media (max-width: $break-xs) {
    display: table;
    padding: 10px;
    margin-bottom: 10px;
    * {
    }
    img {
      float: left;
      width: 33%;
      margin-right: 5%;
    }
  }

}

.post-thumb {
  margin-bottom: 20px;
  h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 10px;
  }
}

.vertical-align-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clearfix-after:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.more-container {
  text-align: center;
  position: relative;
  .spinner-container {
    min-height: 100px;
  }


  button {
    width: 200px;
  }
}

.white-link-button {
  display: block;
  color: black;
  border: 2px solid black;
  box-sizing: border-box;
  padding: 5px 15px;
  border-radius: 5px;
  text-align: center;
}

.admin-section {
  border: 1px solid $color-grey-1;
  margin: 10px 20px;
  padding: 40px 10px 10px;
  position: relative;
  background-color: $color-light-grey;
  &::before {
    content: "Admin section";
    position: absolute;
    top: 10px;
  }
}

.hide-narrow {
  @media screen and (max-width: $break-xs-narrow) {
    display: none;
  }
}

.shadow-text {
  color: $color-grey-1;
}

.error-text {
  color: $color-red-4;
}

h1.lesser-h1 {
  font-size: 32px;
}

.flex-spacing {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin-bottom: 0;
  margin-left: -10px;
  & > * {
    margin-left: 10px;
    margin-bottom: 10px;
  }
}

.zero-margin {
  margin: 0;
}

.keyword-block {
  //display: flex;
  //flex-wrap: wrap;
  //justify-content: flex-start;
  margin-bottom: 10px;
  .keyword {
    display: inline-block;
    &:first-of-type {
      padding-left: 0;
    }
    padding: 0 2px;
    text-transform: lowercase;
    //margin-right: 5px;
    margin-bottom: 5px;
    color: $color-grey-4;
    font-style: italic;
    &:not(:last-of-type) {
      &::after {
        content: "\00a0\00a0 -";
      }
    }
  }
}


.moved-up {
  position: absolute;
  top: -95px;
  z-index: 100;
}

.near-logo-title {
  text-indent: 170px;
  line-height: 55px;
  font-size: 30px;
}

.inline-blocks > * {
  display: inline-block;
}

.btn-participate {
  color: white;
  width: 100%;
}
.h1-margin {
  margin-top: 20px;
}

button, .btn {
  border-radius: 0 !important;
}

.btn-width {
  width: 100%;
}

.fixed-inline {
  display: inline-block;
  min-width: 75px;
}

.margin-right {
  margin-right: 10px;
}

.thin {
  font-weight: 300;
}

a.dull-link {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: none;

  }
}