@import "colors";
@import "values";

.company-list {
  ul {
    a:hover, a:active {
      text-decoration: none;
    }
    li {
      .thumb {
        float: left;
        width: 100px;
        height: 100px;
        border: 1px solid $color-light-grey;
        padding: 5px;
      }
      .info {
        margin-left: 110px;
        margin-right: 160px;
        margin-top: 10px;
        color: black;
        position: relative;
        @media screen and (max-width: $break-xs) {
          margin: 10px 10px 20px 0;
        }
        .name {
          margin-right: 140px;
          word-wrap: break-word;
        }
        .rating {
          position: absolute;
          right: 5px;
          top: 5px;
        }

      }
      a.job-button {
        width: 100px;
        float: right;
        @media screen and (max-width: $break-xs) {
          margin-top: 30px;
        }
      }
    }
  }
}

.company-info {
  article {
    margin-top: 30px;
  }
  a.job-button {
    width: 100px;
    float: right;
    margin-top: 60px;
  }
  .title {
    position: relative;
    margin-top: 10px;
    margin-left: 5px;
    .rating {
      position: absolute;
      right: 0;
      top: 5px;

    }
  }
  .data-cell {
    display: table-cell;
    vertical-align: top;
    float: left;
    width: 50%;
    strong {
      display: table-cell;
      min-width: 110px;
      padding-right: 20px;
      font-weight: bold;
    }
    span {
      display: table-cell;
      vertical-align: top;
      word-wrap: break-word;
    }

    @media screen and (max-width: $break-xs) {
      width: 100%;
    }
  }

}

.company-logo {
  height: 150px;
  width: 150px;
  border: 1px solid $color-light-grey;
  padding: 5px;
  background-color: white;
}

.moved-up {
  position: absolute;
  top: -95px;
  z-index: 100;
}

.near-logo-title {
  text-indent: 170px;
  line-height: 55px;
  font-size: 30px;
}