@import "common";

.home-news{
  ul {
    li {
      margin: 20px 0;
    }
  }
  .spinner {
    left: 20%
  }
}

.home-side {
  @media screen and (max-width: $break-narrow) {
    margin-top: 30px;
  }
  @media screen and (min-width: $break-narrow) {
    border-left: 1px solid black;
    padding-left: 30px;
  }

  ul {
    min-height: 100px;
    list-style-type: disc;
    li {
      margin: 10px 0;
    }
  }

}