@import "common";



.home-side {
  @media screen and (max-width: $break-xs) {
    margin-top: 30px;
  }
  @media screen and (min-width: $break-xs) {
    padding-left: 30px;
  }

  ul {
    position: relative;
    min-height: 100px;
    list-style-type: disc;
    li {
      margin: 10px 0;
    }
  }

}