@import "colors";

.thumb-container {
  &.bordered {
    padding: 5px;
    border: 1px solid $color-light-grey;
    background-color: white;
  }
  .thumb {
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: relative;
    &.th-large {
      width: 200px;
      height: 200px;
    }

    &.th-small {
      width: 50px;
      height: 50px;
    }
    &.th-4x3 {
      width: 160px;
      height: 120px;
    }
    &.th-4x3small {
      width: 120px;
      height: 90px;
    }
    &.th-medium {
      width: 150px;
      height: 150px;
    }
    &.th-long {
      width: 200px;
      height: 100px;
    }
    img {
      position: absolute;
      margin: auto;
      min-height: 100%;
      min-width: 100%;

      /* For the following settings we set 100%, but it can be higher if needed
      See the answer's update */
      left: -100%;
      right: -100%;
      top: -100%;
      bottom: -100%;
    }
  }
}