@import "main";
@import "colors";

// Navbar
// --------------------------------------------------------

body {
  padding-top: 50px;
}

.navbar.navbar-custom {
  background-color: white;
  //border-bottom: 2px solid black;
  margin-bottom: 0;

  * {
    color: black !important;

    font-family: $fontUbuntu;
  }
}

.navbar-custom .navbar-brand {
  padding: 10px;
  img {
    height: 30px;
  }
}

// Showcase
// --------------------------------------------------------

.showcase {
  position: relative;
  color: white;
  min-height: 200px;
  width: 100%;
  margin-top: 0;
  .show-phrases {
    padding-left: 40px;
    padding-top: 20px;
    h1 {
      margin-top: 0;
      margin-bottom: 10px;
      font-size: 400%;
    }
    .text {
      font-size: 0.8em;
      margin-top: 20px;
      max-width: 600px;
    }
  }
  .showcase-content {
    position: relative;
    z-index: 40;
  }
  .background-showcase {
    div {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
    .image-layer {
      background-size: cover;
      background-position: 0 70%;
    }

    .image-layer-low {
      background-image: url("/assets/skynight_low.jpg");
      z-index: 20;
    }

    .image-layer-normal {
      background-image: url("/assets/skynight.jpg");
      z-index: 30;
    }

    .color-layer {
      z-index: 1;
      background-color: $color-space;
    }
  }

  a.build-resume {
    display: block;
    border-radius: 10px;
    width: 200px;
    font-size: 1.5em;
    color: white;
    border: 4px solid white;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;

    &:hover {
      text-decoration: none;
      background-color: rgba(255, 255, 255, 0.2);
    }

    &:visited {
      text-decoration: none;
    }

    @media screen and (max-width: $break-narrow) {
      margin: 10px 24px;
    }
  }

}

// Sticky footer styles
// --------------------------------------------------------

.footer {
  margin-top: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  ul.links > li > a {
    color: black;
    font-family: $fontUbuntu;
  }

  ul.icons {
    float: right;
  }
  ul.icons > li > a {
    font-size: 2em;
  }


  @media screen and (max-width: $break-narrow) {
    height: 200px;
    ul {
      margin-left: 20px;
    }
    ul.icons > li {
      display: inline-block;
    }
    ul.icons {
      float: left;
    }
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 70px;
  @media screen and (max-width: $break-narrow) {
    margin-bottom: 210px;
  }
}

.loading {
  margin: 10px;
  position: relative;
  height: 100px;
}

