@import "main";


// Navbar
// --------------------------------------------------------

body {padding-top: 70px;}

.navbar.navbar-custom {
  background-color: white;
  border-bottom: 2px solid black;

  * {
    color: black !important;

    font-family: $fontUbuntu;
  }
}

.navbar-custom .navbar-brand{
  padding: 10px;
  img {
    height: 30px;
  }
}

// Showcase
// --------------------------------------------------------

#key-brand {
  padding: 10px;

  position: relative;

  &:after {
    content: " ";
    clear: both;
    display: block;
    font-size: 0;
  }

  .clearfix {
    display: none;
  }

  * {
    font-family: $fontAudiowide;
  }

  #header-title {
    margin-top: 0;
    margin-left: 180px;
    span {
      font-size: 40px;
      display: inline-block;
      margin-top: -12px;
    }
  }

  #header-phrase {
    position: absolute;
    bottom: 0;
    margin-left: 180px;
    vertical-align: bottom;
    span {
      font-size: 30px;
      display: inline-block;
      margin-bottom: -4px;
    }
  }

  #logo {
    width: 150px;
    float: left;
    margin-right: 20px;
  }
}

@media (max-width: $break-narrow) {
  #key-brand {

    .clearfix {
      display: block;
    }

    #header-title {
      display: flex;
      align-items: center;
      min-height: 150px;
      margin-left: 215px;
    }

    #header-phrase {
      position: static;
      margin-left: 0;
      margin-top: 15px;
      span {
        margin-bottom: 0;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  #key-brand {
    #logo {
      width: 100px;
    }
    #header-title {
      display: flex;
      align-items: center;
      min-height: 100px;
      margin-left: 115px;
    }

    #header-phrase {
      span {
        font-size: 20px;
      }
    }
  }
}

@media only screen and (max-width: 360px) {
  #key-brand {
    #logo {
      width: 70px;
    }
    #header-title {
      display: flex;
      align-items: center;
      min-height: 70px;
      margin-left: 85px;
      span {
        font-size: 35px;
      }
    }



    #header-phrase {
      span {
        font-size: 20px;
      }
    }
  }
}

#footer {
  border-top: 2px solid black;
  padding-top: 10px;
  margin-top: 10px;
  * {
    color: black !important;

    font-family: $fontUbuntu;
  }
}

// Sticky footer styles
// --------------------------------------------------------

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
}


.loading {
  margin: 10px;
  position: relative;
  height: 100px;
}

