@import "main";

#nav-header.navbar {
  background-color: white;
  border-bottom: 2px solid black;

  * {
    color: black !important;

    font-family: $fontFamily;
  }
}

#key-brand {
  padding: 10px;
}

#footer {
  border-top: 2px solid black;
  padding-top: 10px;
  margin-top: 10px;
  * {
    color: black !important;

    font-family: $fontFamily;
  }
}