@import "values";
@import "colors";

// Navbar
// --------------------------------------------------------

body {
  padding-top: 50px;
  /* Margin bottom by footer height */
  margin-bottom: 100px;
  @media screen and (max-width: $break-xs) {
    margin-bottom: 210px;
  }


}

.navbar.navbar-custom {
  background-color: white;

  border-bottom: 2px solid black;
  margin-bottom: 0;

  * {
    color: black !important;

    font-family: $fontUbuntu;
  }
}

.navbar-custom {
  #login-header {
    margin-right: 0;
  }
  .navbar-brand {
    padding: 10px;
    img {
      height: 30px;
    }
  }
}

// Sticky footer styles
// --------------------------------------------------------

.footer {
  margin-top: 10px;
  position: absolute;
  background-color: $color-light-grey-0;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  ul.navbar-nav {
    margin: 0;
  }
  ul.links > li > a {
    color: black;
    font-family: $fontUbuntu;
    padding-top: 20px;
  }

  ul.icons {
    float: right;
  }
  ul.icons > li > a {
    font-size: 2em;
  }

  @media screen and (max-width: $break-xs) {
    height: 200px;
    ul {
      margin-left: 20px;
    }
    ul.icons > li {
      display: inline-block;
    }
    ul.icons {
      float: left;
    }
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
}

.loading {
  margin: 10px;
  position: relative;
  height: 100px;
}

// Login screen
// -----------------------------------------

#login-screen {
  .dropdown-menu {
    display: block;
    position: relative;
    height: 245px;
    margin-left: auto;
    margin-right: auto;
    float: none;
    border: none;
    box-shadow: none;
    --webkit-box-shadow: none;
  }

  #login-dropdown-list {
    display: block;
  }
  a.dropdown-toggle {
    display: none;
  }
}

// Login dropdown change
#login-header {
  #login-dropdown-list {
    #login-buttons-open-change-password {
      display: none;
    }
    #login-buttons-logout {
      border: 2px solid $color-orange-0;
      background-color: white;
      &:hover {
        background-color: $color-orange-1;
        color: white;
      }

      &:active {
        background-color: $color-orange-2;
        color: white;
      }

    }
  }
}
