.item-list {
  a {
    color: black;
    &:hover {
      text-decoration: none;
      h1, h2, h3, h4, h5 {
        text-decoration: underline;
      }
    }
  }

  .item {
    display: flex;
    flex-wrap: wrap;
    .item-image {
      margin-right: 10px;
    }
    .item-body {
      flex-grow: 1;
      flex-basis: 66%;
    }



  }

}