@import "colors";

.item-list {
  list-style: none;
  padding-left: 0;
  li {
    display: block;
    margin-bottom: 15px;
  }
  a {
    color: black;
    &:hover {
      text-decoration: none;
      h1, h2, h3, h4, h5 {
        text-decoration: underline;
      }
      .highlight-hover-block {
        background-color: $color-light-grey;
      }
    }
  }

  .item {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 5px;
    h1, h2, h3, h4, h5 {
      margin-top: 0;
    }
    .item-image {
      margin-right: 10px;
    }
    .item-body {
      flex-grow: 1;
      flex-basis: 66%;
    }
  }

  .empty-phrase {
    margin-top: 20px;
    font-size: 110%;
  }
}

.job-item {
  .item-body {
    .job-info {
      //margin-bottom: 10px;
    }
    .keyword-block {
      margin-bottom: 0;
      .keyword {
        margin-bottom: 0;
        margin-top: 12px;
      }
    }
  }

}