@import "colors";

.job-image {
  max-width: 100px;
  width: 100%;
}

.job-image-container {
  min-height: 100px;
}

.job-description {
  margin-top: 20px;
}

.job-block {
  .btn-apply {
    border: 2px solid $color-green-0;
    background-color: $color-green-0;
    color: white;
    width: 100%;
  }
  .company-name {
    font-size: 120%;
    color: $color-grey-4;
  }
}
