@import "colors";
@import "values";

.news-list li {
  list-style-type: none;
}

.news-list li a {
  display: block;
  min-height: 50px;
  font-size: 200%;
  padding: 10px 15px;
  margin-bottom: 10px;
  background-color: $color-grey-1;
  border: 2px solid $color-grey-2;
  border-radius: 10px;
}

.home-news {
  @media screen and (min-width: $break-xs) {
    border-right: 1px solid black;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  a {
    &:hover {
      text-decoration: none;
    }
  }
  .news-introduce {
    margin-left: 180px;
    color: black;
    @media screen and (max-width: $break-xs-narrow) {
      margin-left: 130px;
      h3 {
        font-size: 1em;
      }
    }
    .short {
      @media screen and (max-width: $break-sm) {
        display: none;
      }
    }

  }

  .thumb {
    position: relative;
    width: 160px;
    height: 120px;
    overflow: hidden;
    float: left;
    @media screen and (max-width: $break-xs-narrow) {
      width: 120px;
      height: 90px;

    }
    img {
      position: absolute;
      left: 50%;
      top: 50%;
      height: 100%;
      width: auto;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }



}


.news-article, #insertNewsForm {
  img {
    max-width: 100%;
  }
}

