@import "common";
@import "colors";

.card {
  border: 1px solid $color-light-grey;
  padding: 10px;
  margin: 10px 0;
  h1, h2, h3 {
    margin-top: 0;
  }
  .under-h {
    margin-top: -10px;
  }
}

.user-profile {
  #btnEdit {
    //position: absolute;
    //top: 21px;
    //right: 0;
    display: block;
    margin-top: 20px;
    margin-left: 10px;
    bottom: 10px;
    float: right;
    width: 150px;
  }
  .head-block {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    //@media screen and (max-width: $break-xs-narrow) {
    //  flex-wrap: wrap;
    //}

    #btnEdit {
      //position: absolute;
      //top: 21px;
      //right: 0;
      margin: 10px 0;
    }
  }
  .avatar {
    width: 150px;
    min-width: 150px;
    height: 150px;
    margin: 10px;
    img {
      border-radius: 10px;
      max-width: 100%;
      max-height: 100%;
      margin: auto;
    }
  }
  .short {
    flex-grow: 1;
    min-height: 150px;
    //min-width: 260px;
    flex-basis: 60%;
    .name {
      font-size: 30px;
      font-weight: bold;
      line-height: 34px;
      padding-bottom: 5px;
    }
    .calling {
      min-height: 30px;
      color: $color-grey-3;
    }
    .button-padding {
      padding-right: 140px;
      @media screen and (max-width: $break-xs-narrow) {
        padding-right: 0;
      }
    }

  }
  .summary {
    white-space: pre-wrap;
  }
  .links {
    a {
      text-decoration: none;
      color: $color-grey-1;
      font-size: 20px;
      &:hover, &:active {
        color: $color-grey-2;
      }
    }
  }

  .education {
    .name {
        font-weight: bold;
        font-size: 110%;
    }
  }

  .experience {
    .company {
      font-weight: bold;
      font-size: 110%;
    }
    .dates {
      font-size: 90%;
      color: $color-grey-0;
    }
    .description {
      white-space: pre-wrap;
    }
  }

  .project {
    display: flex;
    flex-wrap: wrap;
    div {
      margin-bottom: 0;
    }
    .project-about {
      flex-grow: 1;
      flex-basis: 70%;
      .name {
        font-weight: bold;
        font-size: 110%;
      }
      .description {
        white-space: pre-wrap;
      }
    }

    .project-image {
      width: 150px;
      min-width: 150px;
      max-height: 150px;
      margin-right: 10px;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
  .panel:last-of-type {
    margin-bottom: 0;
  }
  .panel-body {
    div {
      margin-bottom: 10px;
    }
    div:last-child {
      margin-bottom: 0;
    }
  }

  .about {
    margin-top: 20px;
  }

}


.profile-edit {
  .avatar-preview {
    width: 150px;
    height: 150px;
    padding: 10px;
    text-align: center;
    img {
      border-radius: 10px;
      max-width: 100%;
      max-height: 100%;
    }
    & ~ .avatar-preview {
      display: none;
    }
  }
  //.js-af-select-file {
  //  position: absolute;
  //  bottom: 10px;
  //  left: 60px;
  //}
}
