@import "common";
@import "colors";

.card {
  border: 1px solid $color-light-grey;
  padding: 10px;
  margin: 10px 0;
  h1, h2, h3 {
    margin-top: 0;
  }
}

.user-profile {

  .head-block {
    margin-top: 30px;
    position: relative;
    display: flex;
    @media screen and (max-width: $break-xs-narrow) {
      flex-wrap: wrap;
    }

    #btnEdit {
      position: absolute;
      top: 20px;
      right: 0;
    }
  }
  .avatar {
    width: 150px;
    min-width: 150px;
    height: 150px;
    margin: 10px;
    img {
      border-radius: 10px;
      max-width: 100%;
      max-height: 100%;
    }
  }
  .summary {
    flex-grow: 1;
    min-width: 300px;
    .name {
      font-size: 130%;
      font-weight: bold;
      line-height: 30px;
    }
    .button-padding {
      padding-right: 140px;
      @media screen and (max-width: $break-xs-narrow) {
        padding-right: 0;
      }
    }
    .short {
      min-height: 100px;
      white-space: pre-wrap;
    }
  }
  .education {
    .school {
      .name {
        font-weight: bold;
        font-size: 110%;
      }
    }
  }

  .panel-body {
    div {
      margin-bottom: 10px;
    }
    div:last-child {
      margin-bottom: 0;
    }
  }

}


.profile-edit {
  .avatar-preview {
    width: 200px;
    height: 200px;
    padding: 10px;
    text-align: center;
    img {
      border-radius: 10px;
      max-width: 100%;
      max-height: 100%;
    }
    & ~ .avatar-preview {
      display: none;
    }
  }
  //.js-af-select-file {
  //  position: absolute;
  //  bottom: 10px;
  //  left: 60px;
  //}
}
