@import "colors";
@import "values";

.project-list {
  ul {
    a:hover, a:active {
      text-decoration: none;
    }
    li {
      min-height: 120px;
      .thumb-container {
        float: left;
        padding: 5px;
        border: 1px solid $color-light-grey;
        .thumb {
          width: 100px;
          height: 100px;
          overflow: hidden;
          position: relative;
          img {
            position: absolute;
            margin: auto;
            min-height: 100%;
            min-width: 100%;

            left: -100%;
            right: -100%;
            top: -100%;
            bottom: -100%;
          }
        }
      }
      .info {
        margin-left: 120px;
        margin-right: 160px;
        margin-top: 10px;
        color: black;
        position: relative;
        @media screen and (max-width: $break-xs) {
          margin: 10px 10px 20px 0;
        }
        .name {
          margin-right: 140px;
          word-wrap: break-word;
        }
      }
    }
  }
}

.participation {
  margin-bottom: 15px;
}