@import "colors";

.tags-list button.tag {
  border: 2px solid black;
  border-radius: 4px;
  min-width: 100px;
  background-color: $color-grey-1;
  &:active, &:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0;
  }
  &:active {
    background: $color-grey-2 none;
  }
}

.tags-list .tag.tag-company {
  background-color: $color-primary-1;
  &:active {
    background-color: $color-primary-2;
  }
}

.tags-list .tag.tag-skill {
  background-color: $color-secondary-1-1;
  &:active {
    background-color: $color-secondary-1-2;
  }
}

.tags-list .tag.tag-segment {
  background-color: $color-secondary-2-1;
  &:active {
    background-color: $color-secondary-2-2;
  }
}