@import "colors";

.tags-list button.tag {
  border: 2px solid $color-grey-0;
  min-width: 100px;
  background-color: white;
  text-transform: uppercase;
  margin: 10px 5px;
  &:active, &:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0;
  }
  &:active {
    //background: $color-grey-2 none;
  }
}

.tags-list .tag.tag-company {
  border-color: $color-blue-0;
  &:active {
    //background-color: $color-blue-2;
  }
}

.tags-list .tag.tag-skill {
  border-color: $color-green-0;
  &:active {
    //background-color: $color-green-2;
  }
}

.tags-list .tag.tag-segment {
  border-color: $color-orange-0;
  &:active {
    //background-color: $color-orange-2;
  }
}

.tags-list .tag.tag-specific {
  border-color: $color-purple-0;
  &:active {
    //background-color: $color-purple-2;
  }
}