<template name="userProfileContent">
    <div class="user-profile">
        {{#if isOwner}}
            <div class="clearfix-after">
                <a class="btn btn-default" id="btnEdit" href="/profile-edit">
                    <i class="fa fa-pencil-square-o"></i>
                    Edit Profile
                </a>
            </div>
        {{/if}}
        <div class="head-block clearfix-after">
            <div class="avatar edit-block">
                <img src="{{avatarUrl}}" class="img-responsive">

            </div>
            <div class="short">
                <div class="name {{#if isOwner}}button-padding{{/if}}">{{fullName}}</div>
                <div class="calling">{{profile.calling}}</div>
                <div class="location"><i
                        class="fa fa-map-marker"></i> {{#if profile.location}}{{profile.location}}{{else}}Earth{{/if}}
                </div>
                <div class="inline-blocks">
                    {{#each profile.professions}}
                        <div class="profession-tag">
                            <span>{{this}}</span>
                        </div>
                    {{/each}}
                </div>
                <div class="links">
                    {{#if profile.links.website}}
                        <a href="{{profile.links.website}}">
                            <span class="fa-stack">
                                <i class="fa fa-square fa-stack-2x"></i>
                                <i class="fa fa-user fa-inverse fa-stack-1x"></i>
                            </span>
                        </a>

                    {{/if}}
                    {{#if profile.links.linkedin}}
                        <a href="{{profile.links.linkedin}}">
                            <span class="fa-stack">
                                <i class="fa fa-linkedin-square fa-2x"></i>
                            </span>
                        </a>
                    {{/if}}
                    {{#if profile.links.facebook}}
                        <a href="{{profile.links.facebook}}">
                            <span class="fa-stack">
                                <i class="fa fa-facebook-square fa-2x"></i>
                            </span>
                        </a>

                    {{/if}}
                    {{#if profile.links.twitter}}
                        <a href="{{profile.links.twitter}}">
                            <span class="fa-stack">
                                <i class="fa fa-twitter-square fa-2x"></i>
                            </span>
                        </a>
                    {{/if}}
                    {{#if profile.links.github}}
                        <a href="{{profile.links.github}}">
                            <span class="fa-stack">
                                <i class="fa fa-github-square fa-2x"></i>
                            </span>
                        </a>
                    {{/if}}
                    {{#if profile.links.gplus}}
                        <a href="{{profile.links.gplus}}">
                            <span class="fa-stack">
                                <i class="fa fa-google-plus-square fa-2x"></i>
                            </span>
                        </a>
                    {{/if}}
                </div>
            </div>

        </div>
        {{#if profile.summary}}
            <div class="summary card">{{profile.summary}}</div>
        {{/if}}

        {{#if participations}}
            <div class="participation-list card item-list">
                <h3>Projects</h3>
                {{#each participations}}
                    <li class="panel panel-default">
                        <div class="panel-body">
                            {{>participationItem this}}
                        </div>
                    </li>
                {{/each}}
            </div>
        {{/if}}


        {{#if profile.experience}}
            <div class="experience card">
                <h3>Experience</h3>
                {{#each profile.experience}}
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {{>experienceItem this}}
                        </div>
                    </div>
                {{/each}}
            </div>
        {{/if}}
        {{#if profile.education}}
            <div class="education card">
                <h3>Education</h3>
                {{#each profile.education}}
                    <div class="school panel panel-default">
                        <div class="panel-body">
                            {{>educationItem this}}
                        </div>
                    </div>
                {{/each}}
            </div>
        {{/if}}
    </div>
</template>