<template name="userProfile">
    <div class="col-md-10 col-lg-8 col-offset-lg-1 user-profile">
        <div class="head-block clearfix-after">
            <div class="avatar edit-block">
                <img src="{{avatarUrl}}" class="img-responsive">

            </div>
            <div class="summary">
                <div class="name card {{#if isOwner}}button-padding{{/if}}">{{fullName}}</div>
                <div class="short card">{{profile.summary}}</div>
            </div>
            {{#if isOwner}}
                <button class="btn btn-default" id="btnEdit">
                    <i class="fa fa-pencil-square-o"></i>
                    <span class="hide-narrow">&nbsp;Edit Profile</span>
                </button>
            {{/if}}
        </div>
        {{#if profile.education}}
            <div class="education card">
                <h2>Education</h2>
                {{#each profile.education}}
                    <div class="school panel panel-default">
                        <div class="panel-body">
                            <div class="name">
                                {{schoolName}}
                                {{#if gradeYear}} · {{gradeYear}}{{/if}}
                            </div>
                            {{#if fieldOfStudy}}
                                <div class="field">{{fieldOfStudy}}</div>
                            {{/if}}
                        </div>
                    </div>
                {{/each}}
            </div>
        {{/if}}
    </div>
</template>