<template name="userProfile">
    <div class="col-md-10 col-lg-8 col-offset-lg-1 user-profile">
        <div class="head-block clearfix-after">
            <div class="avatar edit-block">
                <img src="{{avatarUrl}}" class="img-responsive">

            </div>
            <div class="short card">
                <div class="name {{#if isOwner}}button-padding{{/if}}">{{fullName}}</div>
                <div class="calling">{{profile.calling}}</div>
                <div class="links">
                    {{#if profile.links.website}}
                        <a href="{{profile.links.website}}">
                            <span class="fa-stack">
                                <i class="fa fa-square fa-stack-2x"></i>
                                <i class="fa fa-user fa-inverse fa-stack-1x"></i>
                            </span>
                        </a>

                    {{/if}}
                    {{#if profile.links.linkedin}}
                        <a href="{{profile.links.linkedin}}">
                            <span class="fa-stack">
                                <i class="fa fa-linkedin-square fa-2x"></i>
                            </span>
                        </a>
                    {{/if}}
                    {{#if profile.links.facebook}}
                        <a href="{{profile.links.facebook}}">
                            <span class="fa-stack">
                                <i class="fa fa-facebook-square fa-2x"></i>
                            </span>
                        </a>

                    {{/if}}
                    {{#if profile.links.twitter}}
                        <a href="{{profile.links.twitter}}">
                            <span class="fa-stack">
                                <i class="fa fa-twitter-square fa-2x"></i>
                            </span>
                        </a>
                    {{/if}}
                    {{#if profile.links.github}}
                        <a href="{{profile.links.github}}">
                            <span class="fa-stack">
                                <i class="fa fa-github-square fa-2x"></i>
                            </span>
                        </a>
                    {{/if}}
                    {{#if profile.links.gplus}}
                        <a href="{{profile.links.gplus}}">
                            <span class="fa-stack">
                                <i class="fa fa-google-plus-square fa-2x"></i>
                            </span>
                        </a>
                    {{/if}}
                </div>
            </div>
            {{#if isOwner}}
                <button class="btn btn-default" id="btnEdit">
                    <i class="fa fa-pencil-square-o"></i>
                    <span class="hide-narrow">&nbsp;Edit Profile</span>
                </button>
            {{/if}}
        </div>
        {{#if profile.summary}}
            <div class="summary card">{{profile.summary}}</div>
        {{/if}}
        {{#if profile.experience}}
            <div class="experience card">
                <h2>Experience</h2>
                {{#each profile.experience}}
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {{>experienceItem this}}
                        </div>
                    </div>
                {{/each}}
            </div>
        {{/if}}
        {{#if profile.education}}
            <div class="education card">
                <h2>Education</h2>
                {{#each profile.education}}
                    <div class="school panel panel-default">
                        <div class="panel-body">
                            {{>educationItem this}}
                        </div>
                    </div>
                {{/each}}
            </div>
        {{/if}}
    </div>
</template>