<template name="projectItem">
    <div class="project">
        <div class="project-image">
            {{#if imageId}}
                <a href="{{projectImage.url store="personalProjectImagesFull"}}" target="_blank">
                    <img src="{{projectImage.url}}" class="img-responsive">
                </a>
            {{else}}
                <img src="{{projectImage.url}}" class="img-responsive">

            {{/if}}
        </div>
        <div class="project-about">
            <div class="name">{{name}}</div>
            <div class="description">{{description}}</div>
        </div>
    </div>

</template>