@import "../../stylesheets/colors";
@import "../../stylesheets/values";

.home-news {
  padding-right: 0;
  .list-content {
    padding-right: 15px;
    @media screen and (min-width: $break-xs) {
      border-right: 1px solid black;
    }
  }
  ul {
    list-style-type: none;
    padding: 0;
    li {
      margin-top: 25px;
    }
  }
  a {
    &:hover {
      text-decoration: none;
    }
  }
  .news-introduce {
    margin-left: 180px;
    color: black;
    @media screen and (max-width: $break-xs-narrow) {
      margin-left: 130px;
      h3 {
        font-size: 1em;
      }
    }
    .short {
      @media screen and (max-width: $break-sm) {
        display: none;
      }
    }

  }

}

.news {
  &__list {
    padding-right: 15px;
    @media screen and (min-width: $break-xs) {
      border-right: 1px solid black;
    }
    &__title {
      margin-top: 5px;
    }
    &__item {
      .item-image {
        margin-bottom: 10px;
      }
    }
  }
}

.news-article, #insertNewsForm {
  img {
    max-width: 100%;
  }
}

