<template name="newsItem">
    <li>
        <a href="/news/{{slug}}">
            <div class="item news__list__item">
                <div class="item-image thumb-container">
                    <div class="thumb th-4x3">
                        <img class="img-responsive" src="{{thumbURL}}">
                    </div>
                </div>

                <div class="item-body">
                    <h4>{{title}}</h4>

                    <p class="short">
                        {{short}}
                    </p>
                </div>
            </div>
        </a>
    </li>
</template>
