<template name="eventInfoCover">
    {{#showcase coverClass="project-cover"}}
        <div class="showcase-content container">
            <h2 class="title category">{{name}}</h2>

            <h1 class="site-name">SPACER</h1>
        </div>
    {{/showcase}}
</template>

<template name="eventInfoBottom">
    <div class="clearfix"></div>
</template>

<template name="eventInfoContent">
    <section class="project-info">
        <article>
            {{#markdown}}{{text}}{{/markdown}}
        </article>
    </section>
</template>

<template name="eventInfoSidebar">
    <div class="h1-margin">
        <article>
            {{#markdown}}{{additionalText}}{{/markdown}}
        </article>
        <h3>Registration</h3>
        {{#if currentUser}}
            {{#if alreadyRegistered}}
                <div>Thank you. You are registered as <i>{{registeredRole}}</i>. We’ll get back to you with more details soon.</div>
            {{else}}
                {{#autoForm collection="EventRegistrations" id="eventRegistrationForm"}}
                    {{> afQuickField name="role" id="roleSelect"}}
                    <button type="button" id="bRegister"
                            class="btn btn-success btn-width" {{registerStatus}}>Register</button>
                {{/autoForm}}
            {{/if}}
        {{else}}
            <a href="/login">Sign in/Sign up</a> if you want to register for the event
        {{/if}}
    </div>

</template>

<template name="eventInfoAdmin">
    <section class="admin-section">
        <a class="btn btn-default" href="/event-update/{{slug}}">Edit</a>
    </section>
</template>