<template name="jobInfoCover">

</template>

<template name="jobPage">
    <div class="job-block">
        <h1 class="job-title">{{title}}</h1>

        <div class="clearfix"></div>


        <div class="job-description">
            {{#markdown}}{{description}}{{/markdown}}
        </div>

    </div>


    {{#contentFor "cover"}}
        {{#showcase coverClass="job-cover"}}
            <div class="showcase-content container">
                <h2 class="title category">Careers</h2>
                {{> showcaseSpacerTitle}}
            </div>
        {{/showcase}}
    {{/contentFor}}

    {{#contentFor "sidebar"}}
        <div class="job-block">
            <h3>Additional Info</h3>
            <section>
                <b class="fixed-inline">Location: </b><span class="location">{{location}}</span>
            </section>
            <section>
                <b class="fixed-inline">Company: </b><a href="/companies/{{companySlug}}">{{companyName}}</a>
            </section>
            <section>
                <b class="fixed-inline">Job Type: </b><span class="job-type">{{jobType}}</span>
            </section>
            <div class="keyword-block">
                <br>
                {{#each keywords}}
                    <div class="keyword">{{this}}</div>
                {{/each}}
            </div>
            <div class="apply-block">
                <a class="btn btn-default btn-apply" target="_blank" href="{{applyLink}}">Apply</a>
            </div>

        </div>
    {{/contentFor}}

    {{#contentFor "adminPanel"}}
        <section class="admin-section">
            <a class="btn btn-default" href="/job-update/{{slug}}">Edit</a>
        </section>
    {{/contentFor}}
</template>
