<template name="jobInfoCover">
    {{#showcase coverClass="job-cover"}}
    {{/showcase}}
</template>

<template name="jobDescription">
    <div class="job-block">
        <div class="company-logo moved-up">
            <img class="img-responsive" src="{{companyLogoURL}}">
        </div>
        <h1 class="zero-margin near-logo-title">{{title}}</h1>


        <div class="job-description">
            {{#markdown}}{{description}}{{/markdown}}
        </div>

    </div>
</template>

<template name="jobSidebar">
    <div class="job-block">
        <h3>Additional Info</h3>
        <section>
            <b>Location: </b><span class="location">{{location}}</span>
        </section>
        <section>
            <b>Company: </b> <a href="/companies/{{companySlug}}"><span class="company-name">{{companyName}}</span></a>
        </section>
        <section>
            <b>Job Type: </b><span class="job-type">{{jobType}}</span>
        </section>
        <div class="keyword-block">
            <b>Keywords: </b><br>
            {{#each keywords}}
                <div class="keyword">{{this}}</div>
            {{/each}}
        </div>
        <div class="apply-block">
            <a class="btn btn-default btn-apply" target="_blank" href="{{applyLink}}">Apply</a>
        </div>

    </div>
</template>


<template name="jobAdmin">
    <section class="admin-section">
        <a class="btn btn-default" href="/jobs/update/{{slug}}">Edit</a>
    </section>
</template>