<template name="jobItem">
    <li>
        <a href="/jobs/{{slug}}" class="job-item">
            <div class="logo">
                <img class="img-responsive" src="{{companyLogoURL}}">
            </div>
            <div class="short">
                <h4 class="title">{{title}}</h4>

                <div>
                    <span class="company-name">{{companyName}}</span>
                    <br>
                    <span class="location">{{location}}</span>
                </div>
            </div>
            <div class="additional-info">
                <div class="keyword-block">
                    {{#each keywords}}
                        <div class="keyword">{{this}}</div>
                    {{/each}}
                </div>
                <div class="job-type">{{jobType}}</div>

            </div>
        </a>
    </li>
</template>