<template name="jobsCover">
    {{#showcase coverClass="job-cover"}}
        <div class="showcase-content container">
            <h2 class="title category">Jobs</h2>
            <h1 class="site-name">SPACER</h1>
        </div>
    {{/showcase}}
</template>


<template name="jobsSidebar">
    <h5>Filter</h5>
    <p>
        Here will be some fiters. later.
    </p>
</template>


<template name="jobsContent">
    <div class="company-list">
        {{>itemList itemTemplate='jobItem' collection="jobs" subscription="jobs" moreWriting="More jobs" filter=filter}}
    </div>
</template>
