<template name="jobsCover">
    {{#showcase coverClass="job-cover"}}
        <div class="showcase-content container">
            <h2 class="title category">Careers</h2>
            {{> showcaseSpacerTitle}}
        </div>
    {{/showcase}}
</template>


<template name="jobsSidebar">
    <div>
        {{#autoForm collection="Jobs" id="jobsFilter"}}
            <div class="form-group">
                <label for="iJobWord">Search</label>
                <input type="text" class="form-control" id="iJobWord" placeholder="Keyword">
            </div>
            {{> afQuickField name="location" options=countryOptions}}
            {{> afQuickField name="jobType" defaultValue=emptyList}}
        {{/autoForm}}
    </div>
</template>


<template name="jobsContent">
    <div class="job__list item-list">
        {{>itemList itemTemplate='jobItem' collection="jobs"
        subscription="jobs" moreWriting="More jobs" filter=filter sortBy="createdAt"
        emptyPhrase="Sorry, your search didn't return any jobs"}}
    </div>
</template>
