<template name="jobsList">

    <div class="container">
        {{#each jobs}}
            <div class="row">
                <div class="col-md-1 col-xs-4 vertical-align-block job-image-container">
                    <img src="{{logoURL}}" onerror="this.src='/logo/nologo.png'" class="img-responsive company-logo job-image">
                </div>
                <div class="col-md-6 col-lg-5 col-xs-8">
                    <h2 class="job-title">{{title}}</h2>
                    <div>
                        {{short}}
                    </div>

                </div>
                <div class="col-md-4 col-xs-12">
                    {{> tagsList}}
                </div>
            </div>
        {{/each}}
    </div>

</template>